body {
    background-color: #2e2e2e;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#inputDiv {
    margin: 60px;
    border-style: solid;
    border-radius: 6px;
    border-color: rgb(231, 231, 231);
    text-align: center;
}
#textInput {
    padding-left: 60px;
    padding-right: 60px;
}