@font-face {
    font-family: "jakarta";
    src: url(./Fonts/PlusJakartaSans-VariableFont_wght.ttf);
  }

* {
    font-family: "jakarta";
}

body {
    background-color:lightsalmon;
    color:rgb(39, 39, 39);
    padding-left: 10rem;
    padding-right: 10rem;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 8rem;
}

.stuff {
    display: flex;  
    list-style-type:disc;
    list-style-position:inside;
    margin-top: -4%;
    margin-left: -3%;
}

li {
    padding-left: 20px;
}

.tekst {
    margin-right: 50%;
    font-size: 200%;

}

.hamster {
    position:absolute;
    left: 60%;
    bottom: 20%;
}

.break {
    flex: 100%;
    height: 0;
  }